@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: block;
}

.top-content {
  color: white;
  display: flex;
  padding: 0px 20px 0px 20px;
  background-color: #d70c0c;
  justify-content: space-between;
  align-items: center;
}

.usernav {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    margin-right: 20px;
}
  
.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
  
.nav-list li #user {
    text-decoration: none;
    color: #d70c0c;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
  
.nav-list li a:hover {
    color: #d70c0c;
    background-color: whitesmoke;
}
  
.nav-list li #user:hover {
    color: #d70c0c;
}

.dropdown-btn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    width: 150px;
    padding: 5px 20px 5px 20px;
    transition: background-color 0.3s ease;
}
  
.dropdown-btn:hover {
    position: relative;
    display: inline-block;
    background-color: whitesmoke;
    border: none;
    color: #d70c0c;
    width: 150px;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    transition: background-color 0.3s ease;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
  
.logout a {
    text-decoration: none;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    transition: background-color 0.3s ease;
}
  
  
.logout a:hover {
    text-decoration: none;
    background-color: black;
    padding: 5px 10px 5px 10px;
    color: #d70c0c;
    transition: background-color 0.3s ease;
}
   
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}
   
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}
   
.dropdown-content a:hover {
    background-color: #d70c0c;
    color: white;
}
 /* Media Queries */
 
@media only screen and (max-width: 768px) {
    .top-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .nav-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-list {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .nav-list li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .dropdown-btn {
      width: auto;
      margin-right: 20px;
    }
  
} 

.filter-data {
    background-color: #3262e6;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate-btn {
    background-color: #db120b; 
    border: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
.download-btn {
    background-color: #15d31f; 
    border: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    top: 10px;
    position: relative;
}
.process-btn {
    background-color: #15d31f; 
    border: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 45%;
    top: 50px;
    position: relative;
    align-items: center;
}
.go-btn {
    background-color: #15d31f; 
    border: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 45%;
    top: 10px;
    position: relative;
    align-items: center;
}
.hold-btn {
    background-color: #f5ac24; 
    border: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    top: 50px;
    position: relative;
    align-items: center;
}
.post-btn {
    background-color: #15d31f; 
    border: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    top: 10px;
    position: relative;
    align-items: center;
}
select {
    width: 180px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in most modern browsers */
}
input[type="date"] {
    width: 150px;
    padding: 5px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    margin-right: 20px;
}
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.custom-arrow {
    position: absolute;
    top: 67%;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    pointer-events: none;
}
.custom-select-wrapper label {
    font-size: 14px;
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 2px;
    font-weight: bold;
}
/* for table */
.table-container {
    top: 35px;
    position: relative;
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px);
    margin: 20px; 
    border: 1px solid #ccc; 
}

.table-container-showcadno {
    top: 35px;
    left: 25%;
    position: relative;
    height: 200px;
    max-width: 50%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px);
    margin: 3px; 
    border: 1px solid #ccc;
}

.table-container-error {
    top: 50px;
    position: relative;
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px); 
    margin: 20px; 
    border: 1px solid #ccc; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-size: 12px;
}

td {
    border: 1px solid #ccc;
    padding: 3px;
}
.left-th {
    border: 1px solid #ccc; 
    padding: 5px; 
    text-align: left; 
}
.left-td {
    text-align: left; 
}
.right-td {
    text-align: right; 
}
th {
    background-color: #e5e3e3;
    font-weight: bold;
    padding: 5px; 
    text-align: center;
    border: 1px solid #ccc; 
}

tr:nth-child(even) {
    background-color: #e5e3e3;
}

tr:hover {
    background-color: #e0e0e0;
}
/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* To position the close button inside */
}

.RFPInputField {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80%;
}

.close {
    position: absolute;
    right: 10px; 
    top: 0;   
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}
.processAndHold {
    display: flex;
    align-items: center;
}
.holdBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
#showpost {
    display: flex;
    justify-content: center;
}
.icon-btn {
    background-color: #db120b; 
    border: none;
    color: white;
    margin: 3px 3px;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 14px;
    cursor: pointer;
    display: inline-block;
}
.td-icon-btn {
    margin-left: 0;
    text-align: center; 
    vertical-align: middle; 
}
.icon-btn i {
    margin-right: 5px; 
}