@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: block;
}

.top-content {
  color: white;
  display: flex;
  padding: 0px 20px 0px 20px;
  background-color: #d70c0c;
  justify-content: space-between;
  align-items: center;
}

.usernav {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    margin-right: 20px;
}
  
.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
  
.nav-list li #user {
    text-decoration: none;
    color: #d70c0c;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
  
.nav-list li a:hover {
    color: #d70c0c;
    background-color: whitesmoke;
}
  
.nav-list li #user:hover {
    color: #d70c0c;
}

.dropdown-btn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    width: 150px;
    padding: 5px 20px 5px 20px;
    transition: background-color 0.3s ease;
}
  
.dropdown-btn:hover {
    position: relative;
    display: inline-block;
    background-color: whitesmoke;
    border: none;
    color: #d70c0c;
    width: 150px;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    transition: background-color 0.3s ease;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
  
.logout a {
    text-decoration: none;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    transition: background-color 0.3s ease;
}
  
  
.logout a:hover {
    text-decoration: none;
    background-color: black;
    padding: 5px 10px 5px 10px;
    color: #d70c0c;
    transition: background-color 0.3s ease;
}
   
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}
   
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}
   
.dropdown-content a:hover {
    background-color: #d70c0c;
    color: white;
}
 /* Media Queries */
 
@media only screen and (max-width: 768px) {
    .top-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .nav-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-list {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .nav-list li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .dropdown-btn {
      width: auto;
      margin-right: 20px;
    }
  
} 

.import-file {
    border-color: red;
    height: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]::file-selector-button {
    border-radius: 15px;
    padding: 0 16px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.upload-btn {
    background-color: #db120b; 
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
/* loading screen */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.export-btn {
    background-color: #8f2c16; 
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin: 5px;
}
.print-btn {
    background-color: #423e3d; 
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin: 5px;
}
.additionalBtn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.override-btn {
    background-color: #db120b; 
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}