@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}
body{
    background-color: #222327;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
::-webkit-scrollbar {
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #707070;
  }
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.btn-back {
    margin-bottom: 2px;
}

.btn-back a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    margin: 10px;
}

.s-container {
    margin: 0px 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

.export_button {
    margin: 5px 10px;
    text-align: right;
}

.export_button button {
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.export_button button:hover {
    background-color: #d70c0c;
    color: #fff;
    border: 1px solid #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

table, th, td {
    font-size: 12px;
    border: 1px solid #ccc;
}

th, td {
    padding: 2px 10px;
    text-align: left;
}

thead {
    background-color: #000;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

#no_data {
    text-align: center;
    color: #999;
    font-style: italic;
}

p {
    margin: 0;
}

p strong {
    font-weight: bold;
    color: #d70c0c;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
