@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

body {
   background-image: url('images/bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.content {
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
}

.index-content {
   background-color: white;
   padding: 10px 50px 5px 50px;
   border-radius: 5px;
   width: fit-content;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
.image img{
   width: 100%;
   height: fit-content;
}
.image h4{
   color: rgb(60, 57, 57);
   font-size: 16px;
   letter-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
}
.login-btn{
   /* background-color: antiquewhite; */
   padding: 25px 0px 10px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.login-btn a{
   text-decoration: none;
   color: white;
}
.login-btn button{
   padding: 5px;
   width: 100px;
   border-radius: 50px;
   background-color: #d70c0c;
}