.top-content {
    color: #fff;
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color: #d70c0c;
    justify-content: space-between;
    align-items: center;
    margin: 10px 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

.usernav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    background-color: transparent;
}