    .fa-bars{
    padding: 10px;
    margin: 3px;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #fff;
    color: #333;
    }

    .fa-bars:hover{
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50px;
    color: #333;
    border: 2px solid #fff;
    }