.sidemenu{
    background-color: #fff;
    height: 100vh;
    width: 18%;
    position: fixed;
    bottom: 0px;
    display: block;
    padding: 30px 30px 80px 30px;
    text-align: center;
    z-index: 9999;
    box-shadow: -2px 8px 9px 2px rgba(0, 0, 0, 0.207);
}

.onetab{
    border: #333 1px solid;
    padding: 10px;
    border-radius: 50px;
    color: #333;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
}

.onetab i{
    margin-left: 20px;
}
.onetab:hover{
    border: #d70c0c 1px solid;
    background-color: #d70c0c;
    color: white;
}

.onetab a, .onetab a:visited, .onetab a:hover, .onetab a:active {
    color: inherit;
    margin: auto;
    text-decoration: none;
}

.onetab a, a:visited, a:hover, a:active {
    color: inherit;
    margin: auto;
}

.onetab h4{
    margin: auto;
    text-indent: -20px;
}

.onetab h6{
    margin: auto;
    text-indent: -20px;
}

.onetab-sub{
    padding: 10px;
    border-radius: 50px;
    color: #d70c0c;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.tabcat{
    padding: 15px;
    border-radius: 50px;
    color: #d70c0c;
    background-color: #ffebeb;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
}

.tabcat:hover{
    color: white;
    background-color: #c21e1e;
}

.tabcat h4{
    margin: auto;
}

.tabcat h6{
    margin: auto;
}

.tabcat i{
    margin-left: 20px;
}

.sub{
    background-color: transparent;
    color: #333;
    padding: 15px;
    font-size: 12px;
    text-align: left;
    border-bottom: #707070 1px solid;
}

.sub:hover{
    color: #fff;
    background-color: #d70c0c;
    border-radius: 5px;
}

.sub a, .sub a:visited, .sub a:hover, .sub a:active {
    color: inherit;
    margin: auto;
    text-decoration: none;
}

.fa-chevron-right, .fa-chevron-down{
    font-size: 8px;
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-in-from-top {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-to-top {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20%);
        opacity: 0;
    }
}